.root {
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;

  li {
    padding-top: 8px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;

    &:hover {
      background-color: #fe5f1e;

      a {
        color: #ffdf8c;
      }
    }

    a {
      color: #181818;
    }
  }

  :global {
    .selected {
        background-color: #fe5f1e;
        color: #fff;
    }
  }
}