.root {
  position: relative;
  left: -80px;
}

.input {
  width: 350px;
  padding: 10px 10px 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}

.icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 15px;
  opacity: 0.5;
}

.closeIcon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 14px;
  right: 15px;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 800px) {
  .root {
    margin-left: 150px;
  }
}